<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>SIGN UP</title>
<script type="text/javascript">
// click(), Change().... => 정해진 것만 처리 가능
// on(), bind().... => 이벤트 핸들러 함수
	$(function() {
		// on("eventType", function(){})
		$("input[name=id]").on("keyup",function(){
			var id = $(this).val(); // id 입력박스에 입력한 id값 가져오기
			// console.log(id);
			$.ajax({
				url: "/user/idChk",
				method: "get",
				dataType: "json",
				async:false,
				data:{"id":id},
				success:function(data) {
					if(data.id != null) { // 사용할 수 없는 id = 중복된 id
						console.log("사용할 수 없습니다.")
						$("#idChk").attr("class","n")
								   .css("color","red")
								   .text("사용할 수 없는 아이디입니다.");				
					} else { // 사용할 수 있는 id
						// console.log("사용 가능합니다!");
						$("#idChk").attr("class","y")
								   .css("color","red")
								   .text("사용 가능한 아이디입니다.");	
					}					
				},
				error:function(e) {
					alert("통신오류 : " + e);
				}			
			});
		});
	
	});
	
	// 중복된 아이디로 submit할 경우 처리
	function submitChk() {
		var classValue = $("#idChk").attr("class");
		if(classValue == "n") {
			alert("ID를 확인하세요!");
		 	return false;
		} 
		
		return true;
	}
	
</script>
<style type="text/css">
body{background-color:#F6F1EE;}
</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
	<h1>SIGN UP</h1>
	<br>
	<form onsubmit="return submitChk()" action="/user/addUser" 
		  method="post" th:object="${addUserCommand}">
		<table class="table">	
			<tr>
				<th>NAME</th>
				<td><input th:field="*{name}" type="text" 
						   class="form-control" name="name"/>
					<span th:if="${#fields.hasErrors('name')}"
						  th:errors="*{name}"></span>
				</td>
			</tr>
			
			<tr>
				<th>ID</th>
				<td>
					<input th:field="*{id}" type="text" 
						   class="form-control" name="id"/>
					<span id="idChk" class="n" ></span>
					<span th:if="${#fields.hasErrors('id')}"
						  th:errors="*{id}"></span>
				</td>
			</tr>
			
			<tr>
				<th>PASSWORD</th>
				<td><input th:field="*{password}" type="password" 
						   class="form-control" name="password"/>
					<span th:if="${#fields.hasErrors('password')}"
						  th:errors="*{password}"></span>
				</td>
			</tr>
			
			
			<tr>
				<th>PHONE</th>
				<td><input th:field="*{phone}" type="text" 
						   class="form-control" name="phone"/>
					<span th:if="${#fields.hasErrors('phone')}"
						  th:errors="*{phone}"></span>
				</td>
			</tr>
			
			<tr>
				<th>E-MAIL</th>
				<td><input th:field="*{email}" type="email" 
						   class="form-control" name="email"/>
					<span th:if="${#fields.hasErrors('email')}"
						  th:errors="*{email}"></span>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<input type="submit" value="Submit" class="btn" style="background-color:#D1B2BA; border:none;
										 border-radius:5px;  font-weight:bold;" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
</body>
</html>





