<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>memAllList</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<table class="table">
  <tr>
    <th>NUMBER</th>
    <th>ID</th>
    <th>NAME</th>
    <th>E-MAIL</th>
    <th>PHONE</th>
    <th>GRADE</th>
    <th>UNREGISTER</th>
    <th>JOIN</th>
  </tr>
  <tr th:each="member: ${memberList}">
    <td th:text="${member.NUMBER}"></td>
    <td th:text="${member.ID}"></td>
    <td th:text="${member.NAME}"></td>
    <td th:text="${member.PHONE}"></td>
    <td th:text="${member.GRADE}"></td>
    <td th:text="${member.UNREGISTER}"></td>
    <td th:text="${member.JOIN}"></td>
  </tr>
</table>

</div>
</body>
</html>