<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>meminfo</title>
<script type="text/javascript">
// click(), Change().... => 정해진 것만 처리 가능
// on(), bind().... => 이벤트 핸들러 함수

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<!--사용자 나의 정보 조회 페이지-->
	<h1>MY PAGE</h1>
	<form onsubmit="return submitChk()" method="post">
		<table class="table">	
			<tr>
				<th>NAME</th>
				<td><input th:value="${mdto.name}" type="text" 
						   class="form-control" name="name"/>

				</td>
			</tr>
			
			<tr>
				<th>ID</th>
				<td>
<!--				세션 받아오는 걸 위해 th:value로 바꿨는데 맞나 모르겠다......-->
					<input th:value="${mdto.id}" type="text" 
						   class="form-control" name="id" />
					
				</td>
			</tr>
			

			
			
			<tr>
				<th>PHONE</th>
				<td><input th:value="${mdto.phone}" type="text" 
						   class="form-control" name="phone"/>
					
				</td>
			</tr>
			
			<tr>
				<th>E-MAIL</th>
				<td><input th:value="${mdto.email}" type="email" 
						   class="form-control" name="email"/>
					
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<input type="submit" value="Modify" class="btn" />
				</td>
			</tr>
			
			
		</table>
	</form>
</div>
</div>
</body>
</html>