<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>memRoleForm</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<!--관리자 회원 등급 변경 페이지-->
			<h2>Change Grade</h2>
			<div id="userAllList">
				<form action="/user/memUpdateRole" method="post">
					<input type="hidden" name="id" value="${dto.id}" />
					<table class="table">
						<tr>
							<th>ID</th>
							<td>
							<input th:value="${session.dto.id}" type="text" class="form-control" name="id" />
							</td>			
						</tr>
						<tr>
							<th>NAME</th>
							<td><input th:field="*{name}" type="text" class="form-control" name="name"/></td>						
						</tr>
						<tr>
							<th>GRADE</th>
							<td>
								<select name="role">
									<option value="ADMIN"   ${session.dto.grade eq "ADMIN" ? "selected": ""}>관리자</option>
									<option value="USER"    ${session.dto.grade "USER" ? "selected": ""}>일반회원</option>								
								</select>
							</td>						
						</tr>
						<tr>
							<td colspan="2">
								<button type="submit">MODIFY</button>
							</td>						
						</tr>
					</table>	
				</form>		
			</div>
		</div>
</div>
</body>
</html>