<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>memRoleForm</title>
<script type="text/javascript">

</script>
<style type="text/css">
form{
	width:500px;
	position:absolute;
	top:250px;
	left:500px;}
</style>
</head>
<body>
<div layout:fragment="content">
<!--관리자 회원 등급 변경 페이지-->
			<h1>CHANGE GRADE</h1>
			<div id="userAllList">
				<form onsubmit="return submitChk()" action="/user/memUpdateRole" 
				method="post" >
<!--					<input type="hidden" name="id" value="${dto.id}" />-->
					<table class="table">
						<tr>
							<th>ID</th>
							<td>
							<input th:value="${mdto?.id}" type="text" class="form-control" name="id" />
							</td>			
						</tr>
						<tr>
							<th>NAME</th>
							<td><input th:value="${mdto?.name}" type="text" class="form-control" name="name"/></td>						
						</tr>
						<tr>
							<th>GRADE</th>
							<td>
<!--								<input th:value="${mdto?.grade}" type="text" class="form-control" name="grade"/>-->
								<select name="grade" class="form-control">
								
								<option name="grade" th:value="${mdto?.grade}" th:text="${mdto?.grade}" disabled selected></option>
								<option name="grade" value="USER">USER</option>
								<option name="grade" value="ADMIN">ADMIN</option>
								
<!--									<option value="ADMIN"   ${mdto?.grade eq "ADMIN" ? "selected": ""}>관리자</option>-->
<!--									<option value="USER"    ${mdto?.grade eq "USER" ? "selected": ""}>일반회원</option>								-->
								</select>
							</td>						
						</tr>
						<tr>
							<td colspan="2">
								<button type="submit" value="MODIFY" class="btn">Modify</button>
							</td>						
						</tr>
					</table>	
				</form>		
			</div>
		</div>
</div>
</body>
</html>