<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{thymeleaf/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>updateMemForm</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<!--사용자 마이페이지에서 정보 수정하는 페이지-->
<h1>MY PAGE</h1>
	<form onsubmit="return submitChk()" th:action="@{/user/memInfo}"
		  method="post" th:object="${updateUserCommand}">
		<table class="table">	
			<tr>
				<th>NAME</th>
				<td><input th:value="${mdto.name}" type="text" 
						   class="form-control" name="name"/>			
				</td>
			</tr>
			
			<tr>
				<th>ID</th>
				<td>
<!--				세션 받아오는 걸 위해 th:value로 바꿨는데 맞나 모르겠다......-->
					<input th:value="${mdto.id}" type="text" 
						   class="form-control" name="id" />
					<span id="idChk" class="n" ></span>				
				</td>
			</tr>
			
			<tr>
				<th>PASSWORD</th>
				<td><input th:value="${mdto.id}"type="password" 
						   class="form-control" name="password"/>					
				</td>
			</tr>
			
			
			<tr>
				<th>PHONE</th>
				<td><input th:field="*{phone}" type="text" 
						   class="form-control" name="phone"/>					
				</td>
			</tr>
			
			<tr>
				<th>E-MAIL</th>
				<td><input th:field="*{email}" type="email" 
						   class="form-control" name="email"/>				
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<input type="submit" value="Modify" class="btn" />
				</td>
			</tr>
			
			
		</table>
	</form>
</div>
</body>
</html>