<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.px.board.mapper.MemMapper">
	
	<insert id="addUser" parameterType="memDto">
		INSERT INTO mem
   		VALUES(NULL, #{name}, #{id}, #{password}, #{email}, #{phone}, 
   			#{grade}, 'N', SYSDATE());	
	</insert>
	
	<select id="idChk" parameterType="String" resultType="String">
		SELECT ID FROM mem WHERE ID = #{id}
	</select>
	
	<select id="loginUser" parameterType="String" resultType="memDto">
		SELECT number, NAME, id, PASSWORD, email, phone, grade
		FROM mem
		WHERE ID = #{id}
	</select>
	
<!-- 	// 나의 정보 조회 -->
	<select id="memInfo" parameterType="String" resultType="memDto">
		SELECT NAME, id, PASSWORD, phone, email
		FROM mem
	</select>
	
<!-- 	// 나의 정보 수정 -->
	<update id="updateMem" parameterType="memDto">
		UPDATE mem SET NAME=#{name}, PASSWORD=#{password}, phone=#{phone}, 
		email=#{email}
		WHERE NUMBER=#{number}
	</update>
	
<!-- 	회원목록 전체 조회 -->
	<select id="getAllMemList" resultType="memDto">
		SELECT NUMBER, NAME, id, PASSWORD, email,phone,grade,UNREGISTER,regdate
		FROM mem
	</select>
	
<!-- 	회원 등급 수정 -->
	<update id="memUpdateRole" parameterType="memDto">
		UPDATE mem SET GRADE=#{grade}
		WHERE ID=#{id}
	</update>
	
<!-- 	// 회원 탈퇴 -->
	<update id="delMem" parameterType="String">
		UPDATE mem SET unregister='Y'
		WHERE ID=#{id}
	</update>
</mapper>

