@charset "UTF-8";
	
.content {
	margin: 70px 150px;
}

#container {
		width: 1000px;
		margin: 0 auto;
	}
	
.body{
	position:absolute;
	top: 50%;
}

.errorField {
	color:red;
}






