@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:  #FFFFFF;
}

.btn2{
	border: 1px solid #000000;
	background-color: #000000;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	color: white;
	font-weight: bold;
}

button:hover{
	background-color: #000000;
	color: #FFFFFF;
}

.btn{
	border: 1px solid #000000;
	background-color: #000000;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	color: white;
	font-weight: bold;
}

form{
	width: 300px;
	margin: 10% auto;
}

.loginVal{
	border: 0px;
	width: 288px;
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
}

input, button{
	margin: 2px;
}

img {
	top: 200px;
	width: 430px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
