<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}"
>
<head>
<meta charset="UTF-8">
<title>ABOUT</title>
<script type="text/javascript">
	
</script>
<style type="text/css">
body{background-image: url('https://i.pinimg.com/236x/5a/64/35/5a6435ed4b0138c4ed6eee0fd883c77c.jpg');
      width:500px; height:500px; background-size: contain;}
</style>
</head>
<body>

<div layout:fragment="content">
<br>
<h3>▶ A ROOM (1F) - 24평</h3>
<p style="font-size:15px"; >
<br>
- 이동식 가벽이 있어 공간 활용이 높은 편이며 자연광을 이용한 제품 사진이나 룩북사진 모델컷 등 다양한 연출컷이 가능합니다.
<br>
<br>
- A룸 안쪽 움직이는 벽을 살짝 밀면 대형 전신 거울이 보임과 함께 새로운 질감의 가벽이 하나 더 만들어져, 이는 새로운 촬영 포인트가 됩니다.
</p>
<hr>

<h3>▶ B ROOM (2F) - 24평</h3>
<p style="font-size:15px";>
<br>
- 실내 호리존, 야외 호리존이 모두 있는 룸으로 자연광과 외부 자연스러운 연출컷을 하기에 적합한 룸입니다.
<br>
:주로 룩북컷, 모델컷이나 호리존을 활용한 제품컷이 많이 활용됩니다.
<br>
<br>
- 남산에서 내려오는 빛이 스튜디오에 내리쬐어 조명이 필요 없을 정도의 자연광이 채워지는 공간입니다.
<br>
:자연광이 드리우는 야외 호리존은 하늘과 구름을 오브제 삼아 촬영하실 수 있는 스팟입니다.
</p>

<hr>
<h3>▶ CATEGORY EX</h3>
<p style="font-size:15px";>
<br>
소매점/팝업스토어
<br>
미술 작품 전시/갤러리
<br>
쇼룸
<br>
음식/식당/음료
<br>
제품 론칭
<br>
사진 촬영
</p>
<br>
<h4 style="font-weight:bold";>* 예약 취소 및 변경은 관리자에게 문의하세요. 📨 popxhi@ac.kr</h4>
<div>
</body>
</html>