<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>calBoardList</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<h1>Reservation List</h1>
			<table class="table">
<!--				<col width="50px"/>-->
				<col width="200px"/>
				<col width="300px"/>
				<col width="200px"/>
				<col width="300px"/>
				<tr>
<!--					<th><input type="checkbox" name="all" onclick="allSel(this.checked)"/></th>-->
					<th>ID</th>
					<th>TITLE</th>
					<th>START DATE</th>
					<th>END DATE</th>
					<th>CATEGORY</th>
				</tr>
				<th:block th:if="${#lists.isEmpty(list)}">
					<tr>
						<td colspan="5" style="text-align: center">작성된 일정이 없습니다.</td>
					</tr>				
				</th:block>
				<th:block th:unless="${#lists.isEmpty(list)}">
					<tr th:each="dto:${list}">
<!--						<td><input type="text" name="number" th:value="${dto.number}"/></td>-->
						<td th:text="${dto.id}"></td>
						<td> 
							<a th:href="@{/schedule/calBoardDetail(number=${dto.number})}" th:text="${dto.title}"></a>
						</td>
						<td th:text="${dto.startdate}"></td>
						<td th:text="${dto.enddate}"></td>
<!--						<td th:text="${@util.toDates(dto.startdate)}"></td>-->
<!--						<td th:text="${@util.toDate(dto.enddate)}"></td>-->
						<td th:text="${dto.category}"></td>
					</tr>				
				</th:block>
				
<!--				<tr>-->
<!--					<td colspan="4">-->
<!--						<button type="submit" title="일정삭제" class="btn btn-default" value="D>-->
<!--						</button>-->
						
<!--						<button type="button" title="달력보기" class="btn btn-default" -->
<!--								th:onclick="|location.href='@{/schedule/calendar(year=${session.ymdMap.year}, month=${session.ymdMap.month})}'|">-->
<!--						CALENDAR</button>-->
						
<!--					</td>-->
<!--				</tr>-->
				
			</table>
	</div>
</div>
</body>
</html>


