<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>RESERVATION LIST</title>
<script type="text/javascript">
function isCheck() {
      if(confirm("정말 삭제하시겠습니까?")) {
         return true;
      } 
      
      return false;
   }
   
function allSel(bool){
         var chks=document.getElementsByName("number");// [seq,seq,seq,seq..]
         for (var i = 0; i < chks.length; i++) {
            chks[i].checked = bool;//각각의 체크박스에 체크여부를 true/false로 적용
         }
   }
</script>
<style type="text/css">
body{background-color:#F6F1EE;}
</style>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<h1>RESERVATION LIST</h1>
		<form th:action="@{/schedule/calMulDel}" method="post"
			  th:object="${deleteCalCommand}" onsubmit="return isCheck()">
			<table class="table">
				<col width="50px"/>
				<col width="200px"/>
				<col width="200px"/>
				<col width="200px"/>
				<col width="200px"/>
				<tr>
					<th><input type="hidden" name="all" onclick="allSel(this.checked)"/></th>
					<th>ID</th>
					<th>TITLE</th>
					<th>START DATE</th>
					<th>END DATE</th>
					<th>CATEGORY</th>
				</tr>
				<th:block th:if="${#lists.isEmpty(list)}">
					<tr>
						<td colspan="6" style="text-align: center">작성된 일정이 없습니다.</td>
					</tr>				
				</th:block>
				
				<th:block th:unless="${#lists.isEmpty(list)}">
					<th:block th:each="dto:${list}">
					<tr>
						<td><input type="hidden" name="number" th:value="${dto.number}"/></td>
						<td th:text="${dto.id}"></td>
						
						<td> 
						<th:block th:if="${session.mdto.grade eq 'ADMIN'}">
							<a th:href="@{/schedule/calBoardDetail(number=${dto.number})}" 
								th:text="${dto.title}" style="font-weight:bold; color:black;"></a>
						</th:block>

						<th:block th:unless="${session.mdto.grade eq 'ADMIN'}">						
							[[${dto.title}]]
						</th:block>
						</td>
						
						<td th:text="${dto.startdate}"></td>
						<td th:text="${dto.enddate}"></td>
						<td th:text="${dto.category}"></td>
					</tr>
					</th:block>				
				</th:block>
				
			</table>
			</form>
	</div>
</div>
</body>
</html>


